* {
  margin: 0%; }

ul {
  list-style: none; }

a {
  list-style: none; }

h1 {
  color: yellow;
  font-size: 30px;
  text-align: center; }

header img {
  width: 200px;
  height: 200px; }

main {
  background-color: black;
  width: 100%;
  margin: 0%; }
  main .fotos img {
    padding: 50px;
    width: 100%;
    height: 60%; }
  main .productos {
    background: linear-gradient(rgba(0, 0, 0, 0.605), rgba(0, 0, 0, 0.621)), url(../img/HD-wallpaper-black-and-white-book-page.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0%;
    color: white;
    text-align: center;
    display: inline-block; }
    main .productos h2 {
      font-size: 35px;
      padding: 5px;
      margin: 20px; }
    main .productos .productos-grupo {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap; }
    main .productos .libros {
      background-color: black;
      text-align: center;
      display: inline-block;
      margin: 40px;
      border: 2px white solid;
      width: 350px;
      height: 500px; }
      main .productos .libros:hover {
        transform: scale(1.1); }
      main .productos .libros img {
        width: 100%;
        height: 80%; }
      main .productos .libros h3 {
        color: white;
        font-size: 25px; }
      main .productos .libros a.botton {
        background-color: black;
        color: yellow;
        border: 1px solid yellow;
        border-radius: 5px;
        text-decoration: none;
        font-size: 20px;
        padding: 5px; }
        main .productos .libros a.botton:hover {
          background-color: yellow;
          color: black;
          border: 1px solid white;
          border-radius: 5px;
          transition: 1s; }

/*-------- ACERCA DE-------*/
.acercade {
  color: white;
  text-align: center;
  font-size: 25px; }
  .acercade .acercade h2 {
    color: yellow;
    font-size: 30px; }

/*-------------CONTACTO-----------*/
.comunicate {
  background-color: white;
  width: 100%;
  height: 100%;
  color: black;
  text-align: center; }
  .comunicate h2 {
    font-size: 30px; }
    .comunicate h2 img {
      width: 50px;
      height: 50px;
      padding: 10px; }
  .comunicate .registrate {
    display: inline-table;
    background-color: black;
    font-family: sans-serif;
    padding: 5px; }
    .comunicate .registrate h1 {
      text-align: center;
      color: yellow;
      font-size: 50px; }
    .comunicate .registrate p {
      text-align: center;
      color: yellow;
      font-size: 20px; }
    .comunicate .registrate div {
      background-color: black;
      color: white;
      font-size: 20px; }
  .comunicate .genero-total {
    font-size: 20px;
    color: white; }
  .comunicate .email {
    justify-content: center;
    padding: 5px; }
  .comunicate .comentario {
    background-color: black;
    color: yellow;
    font-size: 20px;
    padding: 20px;
    justify-content: center; }
    .comunicate .comentario a.button {
      background-color: yellow;
      color: black;
      display: block; }
      .comunicate .comentario a.button:hover {
        background-color: white;
        color: black;
        transform: scale(1.1); }

/*--------------PRODUCTOS--------------*/
.productos {
  padding: 0%;
  margin: 0%; }
  .productos h2 {
    color: white;
    font-size: 30px;
    padding: 5px;
    margin: 20px; }
  .productos .libros-productos {
    display: inline-block;
    background-position: 1px;
    background-color: black;
    text-align: center;
    margin: 20px;
    border: 3px white solid;
    width: 350px;
    height: 550px; }
    .productos .libros-productos:hover {
      transform: scale(1.1); }
    .productos .libros-productos img {
      width: 100%;
      height: 70%; }
    .productos .libros-productos h3 {
      color: yellow;
      font-size: 25px;
      margin: 0; }
    .productos .libros-productos p {
      font-size: 15px;
      margin: 5px;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }
    .productos .libros-productos a.botton {
      background-color: black;
      color: yellow;
      border: 1px solid yellow;
      border-radius: 5px;
      text-decoration: none;
      font-size: 20px;
      padding: 5px; }
      .productos .libros-productos a.botton:hover {
        background-color: yellow;
        color: black;
        border: 1px solid white;
        border-radius: 5px;
        transition: 1s; }
  .productos .grid-testimonios {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px;
    padding: 15px; }
    .productos .grid-testimonios .grid-item {
      border: 1px solid white;
      padding: 10px; }
      .productos .grid-testimonios .grid-item img {
        border: 2px solid yellow;
        border-radius: 50px;
        width: 60px;
        height: 50px;
        object-fit: cover; }

/*-----------------SERVIVOS--------------*/
.pasos {
  background-color: black;
  margin: 0%;
  text-align: center; }
  .pasos h2 {
    color: yellow;
    font-size: 30px;
    padding: 5px; }
  .pasos p {
    font-size: 20px;
    color: white; }
  .pasos .medios-fotos {
    display: inline-flex; }
    .pasos .medios-fotos img {
      padding: 2px;
      margin: 2px;
      width: 200px;
      height: 150px; }

.redes {
  background-color: white;
  text-align: center; }
  .redes img {
    padding: 5px;
    width: 50px;
    height: 50px; }
    .redes img:hover {
      padding: 5px;
      width: 50px;
      height: 50px;
      transform: scale(1.1); }
  .redes p {
    color: black;
    font-size: 20px; }
