/*-----------------REST------------------*/

* {
  margin: 0%;
}

ul {
  list-style: none;
}
a {
  list-style: none;
}
/*-----------------HEADER-----------------*/

/*------------------MAIN-----------------*/
main {
  background-color: black;
}
.fotos div img {
  padding: 50px;
  width: 450px;
  height: 550px;
}

.productos {
  background-image: url(../img/HD-wallpaper-black-and-white-book-page.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0%;
  color: white;
  text-align: center;
  display: inline-block;
}

.productos-grupos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.productos h2 {
  font-size: 35px;
  padding: 5px;
  margin: 20px;
}

div .libros img {
  width: 350px;
  height: 400px;
}

.productos div h3 {
  color: white;
  font-size: 25px;
}

.productos div .botton {
  text-decoration: none;
  font-size: 25px;
  color: white;
  margin: 20px;
}

.libros {
  background-color: black;
  text-align: center;
  display: inline-block;
  margin: 40px;
  border: 3px yellow solid;
  width: 355px;
  height: 500px;
}

/*-----------------FOOTER-----------------*/

.redes {
  background-color: white;
  margin: 5px;
  text-align: center;
}

.redes p {
  color: black;
  font-size: 20px;
}

.redes img {
  padding: 5px;
  width: 50px;
  left: 50px;
}

/*---------CONTACTO--------*/

.registrate {
  background-color: black;
  font-family: sans-serif;
  padding: 5px;
}

.registrate h1 {
  color: yellow;
  text-align: center;
  font-size: 30px;
}

.registrate p {
  color: white;
  border: white solid 1px;
  text-align: center;
  font-size: 25px;
}
.registrate div {
  background-color: black;
  color: white;
  font-size: 20px;
  display: flex;
  margin: 0%;
}

.comentario {
  background-color: black;
  color: yellow;
  font-size: 20px;
  text-align: center;
  padding: 20px;
}

/*------------------PRODUCTOS------------------*/

.productos {
  padding: 0%;
  margin: 0%;
}

.libros-productos {
  display: inline-block;
  background-position: 1px;
  background-color: black;
  text-align: center;
  margin: 20px;
  border: 3px yellow solid;
  width: 350px;
  height: 550px;
}

.libros-productos p {
  font-size: 10px;
  margin: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.productos h2 {
  color: white;
  font-size: 30px;
  padding: 5px;
  margin: 20px;
}

div .libros-productos img {
  width: 330px;
  height: 430px;
}

.productos div h3 {
  color: white;
  font-size: 25px;
  margin: 0;
}

.grid-testimonios {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px;
}

.grid-testimonios div img {
  border: 3px solid yellow;
  border-radius: 30px;
  width: 70px;
  height: 50px;
  object-fit: cover;
}

.grid-item {
  border: 1px solid white;
  padding: 10px;
}
/*------------------NOSOTROS------------------*/
.acercade-text {
  color: white;
  text-align: center;
}

.ubicacion {
  text-align: center;
  color: yellow;
}

/*------------------MEDIAQUERY-------------*/

@media screen and (max-width: 865px) {
  .grid-testimonios {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 220px;
  }
  .grid-item {
    grid-column: span 1;
    grid-row: span 1;
  }
}

@media screen and (max-width: 615px) {
  .grid-testimonios {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 220px;
  }
  .grid-item {
    grid-column: span 1;
    grid-row: span 1;
  }
}

@media screen and (max-width: 500px) {
  .fotos div img {
    padding: 50px;
    width: 250px;
    height: 350px;
  }
  .productos {
    display: grid;
  }
}
@media screen and (max-width: 440px) {
  .fotos div img {
    padding: 40px;
    width: 100px;
    height: 200px;
  }
  .productos {
    display: grid;
  }
  .productos {
    background-image: url(../img/HD-wallpaper-black-and-white-book-page.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0%;
    color: white;
    text-align: center;
    display: inline-block;
  }

  .productos-grupos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .productos h2 {
    font-size: 20px;
    padding: 2px;
    margin: 5px;
  }

  div .libros img {
    width: 150px;
    height: 200px;
  }

  .productos div h3 {
    color: white;
    font-size: 15px;
  }

  .productos div .botton {
    text-decoration: none;
    font-size: 10px;
    color: white;
    margin: 5px;
  }

  .libros {
    background-color: black;
    text-align: center;
    display: inline-block;
    margin: 20px;
    border: 1px yellow solid;
    width: 150px;
    height: 200px;
  }
}
