/*-----------------REST------------------*/

* {
  margin: 0%;
}

ul {
  list-style: none;
}
a {
  list-style: none;
}

h1 {
  color: yellow;
  font-size: 30px;
  text-align: center;
}
/*-----------------HEADER-----------------*/
header img {
  width: 200px;
  height: 200px;
}
/*------------------MAIN-----------------*/
main {
  background-color: black;
  width: 100%;
  margin: 0%;
}
.fotos div img {
  padding: 50px;
  width: 100%;
  height: 50%;
}

.productos {
  background: linear-gradient(rgba(0, 0, 0, 0.605), rgba(0, 0, 0, 0.621)),
    url(../img/HD-wallpaper-black-and-white-book-page.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0%;
  color: white;
  text-align: center;
  display: inline-block;
}

.productos-grupos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.libros img {
  width: 350px;
  height: 400px;
}

.libros h3 {
  color: white;
  font-size: 25px;
}

.productos div .botton {
  background-color: black;
  color: yellow;
  border: 1px solid yellow;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  padding: 5px;
}

.productos div .botton:hover {
  background-color: yellow;
  color: black;
  border: 1px solid white;
  border-radius: 5px;
  transition: 1s;
}

.libros {
  background-color: black;
  text-align: center;
  display: inline-block;
  margin: 40px;
  border: 2px white solid;
  width: 355px;
  height: 500px;
}

.libros:hover {
  transform: scale(1.1);
}
/*-----------------FOOTER-----------------*/

.redes {
  background-color: white;
  text-align: center;
}

.redes p {
  color: black;
  font-size: 20px;
}

.redes img {
  padding: 5px;
  width: 50px;
  height: 50px;
}
.redes img:hover {
  padding: 5px;
  width: 50px;
  height: 50px;
  transform: scale(1.1);
}

/*---------CONTACTO--------*/
.comunicate {
  background-color: white;
  width: 100%;
  height: 100%;
  color: black;
  text-align: center;
}

.comunicate h2 {
  font-size: 30px;
}
.comunicate img {
  width: 50px;
  height: 50px;
  padding: 10px;
}
.registrate h1 {
  text-align: center;
  color: yellow;
  font-size: 50px;
}
.registrate p {
  text-align: center;
  color: yellow;
  font-size: 20px;
}

.registrate {
  display: inline-table;
  background-color: black;
  font-family: sans-serif;
  padding: 5px;
}

.registrate div {
  background-color: black;
  color: white;
  font-size: 20px;
}

.comentario {
  background-color: black;
  color: yellow;
  font-size: 20px;
  padding: 20px;
  justify-content: center;
}

.comentario button {
  background-color: yellow;
  color: black;
  display: block;
}

.comentario button:hover {
  background-color: white;
  color: black;
  transform: scale(1.1);
}

.genero-total {
  font-size: 20px;
  color: white;
}

.email {
  justify-content: center;
  padding: 5px;
}
/*------------------PRODUCTOS------------------*/

.productos {
  padding: 0%;
  margin: 0%;
}

.libros-productos {
  display: inline-block;
  background-position: 1px;
  background-color: black;
  text-align: center;
  margin: 20px;
  border: 3px white solid;
  width: 350px;
  height: 500px;
}

.libros-productos:hover {
  transform: scale(1.1);
}

.libros-productos p {
  font-size: 15px;
  margin: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.productos h2 {
  color: white;
  font-size: 30px;
  padding: 5px;
  margin: 20px;
}

.libros-productos img {
  width: 100%;
  height: 70%;
}

.libros-productos h3 {
  color: white;
  font-size: 25px;
  margin: 0;
}

.grid-testimonios {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px;
  padding: 15px;
}

.grid-item img {
  border: 2px solid yellow;
  border-radius: 50px;
  width: 60px;
  height: 50px;
  object-fit: cover;
}

.grid-item {
  border: 1px solid white;
  padding: 10px;
}
/*------------ACERCA D NOSOTROS-------------*/
.acercade {
  color: white;
  text-align: center;
  font-size: 25px;
}
.acercade h2 {
  color: yellow;
  font-size: 30px;
}

/*-------------Servicios----------------*/
.pasos {
  background-color: black;
  margin: 0%;
  text-align: center;
}
.pasos h2 {
  color: yellow;
  font-size: 30px;
  padding: 5px;
}
.pasos p {
  font-size: 20px;
  color: white;
}
.medios-fotos {
  display: inline-flex;
}
.medios-fotos img {
  padding: 2px;
  margin: 2px;
  width: 200px;
  height: 150px;
}
/*------------------MEDIAQUERY-------------*/

@media screen and (max-width: 700px) {
  .grid-testimonios {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 220px;
  }
  .grid-item {
    grid-column: span 1;
    grid-row: span 1;
  }
}

@media screen and (max-width: 480px) {
  header img {
    width: 50px;
    height: 50px;
  }
  .grid-testimonios {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 220px;
  }
  .grid-item {
    grid-column: span 1;
    grid-row: span 1;
  }
  .acercade-text {
    font-size: 15px;
    color: white;
    text-align: center;
  }

  .productos h2 {
    font-size: 20px;
    padding: 2px;
    margin: 5px;
  }

  div .libros img {
    width: 150px;
    height: 200px;
  }

  .productos div h3 {
    color: white;
    font-size: 15px;
  }

  .productos div .botton {
    text-decoration: none;
    font-size: 10px;
    color: white;
    margin: 5px;
  }

  .libros {
    background-color: black;
    text-align: center;
    display: inline-table;
    margin: 20px;
    border: 1px white solid;
    width: 150px;
    height: 200px;
  }

  .registrate {
    display: block;
    background-color: black;
    font-family: sans-serif;
  }
}
