footer{
    color: #E0077A;
    font-size: 25px;
    .sociales {
        text-align: right;
     img{
            margin: 15px;
            height: 50px;
            width: 50px;
      }
    }
      p {
        text-align: center
    }
  }